<input type="hidden" value="0" name="{{ property.name }}">
<div class="form-group{% if property.required %} required{% endif %}">
	<label for="{{ property.name }}" class="col-sm-2 control-label">{{ property.description }}</label>
	<div class="col-sm-10">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="{{ property.name }}" name="{{ property.name }}"{% if bean[property.name] %} checked{% endif %}{% if property.required %} required="required"{% endif %}>
			</label>
		</div>
	</div>
</div>
